<%include partials/head.ejs%>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>List account</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordred">
                    <thead>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phonenumber</th>
                        <th>Activate/Deactivate</th>
                        <th>Delete account</th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].name %>
                            </td>
                            <td>
                                <%= data[i].username %>
                            </td>
                            <td>
                                <%= data[i].email %>
                            </td>
                            <td>
                                <%= data[i].phone %>
                            </td>
                            <%
                                var accStatus = "";
                                var activated = "";
                                var deactivated = "";
                                if (data[i].active) {
                                    accStatus = data[i].username + "-activated";
                                    activated = "active";
                                } else {
                                    accStatus = data[i].username + "-deactivated";
                                    deactivated = "active";
                                }
                            %>
                            <td>
                                <div class="btn-group" id="<%= accStatus %>" data-toggle="buttons">
                                    <label class="btn btn-default btn-on btn-sm <%= activated %>" id="<%= accStatus %>+on" onclick="onAccount(this)">
                                        <input type="radio">ON</label>
                                    <label class="btn btn-default btn-off btn-sm <%= deactivated %>" id="<%= accStatus %>+off" onclick="offAccount(this)">
                                        <input type="radio">OFF</label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-md"
                                    onclick="Delete(this)" id="delete-<%= data[i].username %>">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/manage-account.js"></script>


<%include partials/foot.ejs%>